/**
 * Fonts
 */

@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/Vazir.eot');
    src: url('../assets/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Vazir.woff2') format('woff2'),
         url('../assets/fonts/Vazir.woff') format('woff'),
         url('../assets/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/Vazir-Bold.eot');
    src: url('../assets/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Vazir-Bold.woff2') format('woff2'),
         url('../assets/fonts/Vazir-Bold.woff') format('woff'),
         url('../assets/fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/Vazir-Black.eot');
    src: url('../assets/fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Vazir-Black.woff2') format('woff2'),
         url('../assets/fonts/Vazir-Black.woff') format('woff'),
         url('../assets/fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/Vazir-Medium.eot');
    src: url('../assets/fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Vazir-Medium.woff2') format('woff2'),
         url('../assets/fonts/Vazir-Medium.woff') format('woff'),
         url('../assets/fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/Vazir-Light.eot');
    src: url('../assets/fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Vazir-Light.woff2') format('woff2'),
         url('../assets/fonts/Vazir-Light.woff') format('woff'),
         url('../assets/fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url('../assets/fonts/Vazir-Thin.eot');
    src: url('../assets/fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Vazir-Thin.woff2') format('woff2'),
         url('../assets/fonts/Vazir-Thin.woff') format('woff'),
         url('../assets/fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


body {
    background-color: #f0f0f0;
    color: #555;
    cursor: default;
    font-family: 'Vazir', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    max-width: 348px;
}

/**
 * Sections
 */


header {
    align-items: center;
    border-bottom: solid #d3d3d3 1px;
    display: flex;
    position: relative;
}

.panel {
    overflow: hidden;
    padding: 10px 8px;
}

.panel:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
}

footer {
    direction: ltr;
    padding: 8px;
}

/**
 * Headings
 */

.heading {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
}

.subheading {
    font-weight: 600;
    margin-bottom: 2px;
    text-align: center;
}

/*
 * options
 */

.options {
    padding: 10px 8px;
}

.options:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
}

/**
 * Descriptions
 */

.option {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.description {
    color: #a1b5c3;
    font-style: italic;
    margin: 0 6px;
    text-align: center;
}

.label-version {
    color: #457763;
    font-size: 9px;
}

/**
 * Titles
 */

.title-option {
    align-items: center;
    display: flex;
    font-weight: 600;
}

/**
 * Controls
 */

.input-checkbox {
    margin: 0 5px 0 0;
    outline: 0;
}

.input-text {
    margin-left: 29px;
    max-width: 320px;
}

.text-label {
    padding: 0 2px;
}

.input-checkbox:focus + .text-label {
    outline: 1px dotted #000;
}


.label-link {
    color: #6d6d6d;
    cursor: pointer;
    float: left;
    font-size: 13px;
    line-height: 1;
    margin: 6px 0 0 2px;
    padding: 1px 2px 4px;
    text-decoration: none;
}

/**
 * Buttons
 */

.button {
    -moz-user-select: none;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px 22px;
    user-select: none;
    overflow: hidden;
    margin-bottom: 10px ;
}

.button-toggle {
    border-color: #d8d8d8;
    color: #bbb;
}

.button-toggle.active {
    border-color: #cfcfcf;
    color: #339a6f;
}

.button:hover {
    background-color: #fff;
}

.button:focus {
    background-color: #f9f9f9;
    border: 1px solid #bbb;
    box-shadow: 0 0 4px #b9b9b9;
    outline: 0;
}

.button:active {
    background-color: #dedede;
}

/**
 * Icons
 */

.icon {
    height: 15px;
    width: 15px;
}

.icon-logo {
    padding: 5px;
    width: 32px;
    height: 32px;
}

/**
 * Compatibility
 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    body {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {

    /**
     * Sections
     */

    body {
        background-color: #404040;
        color: #f9f9fa;
    }

    header {
        border-bottom-color: #292929;
    }

    .description-option {
        color: #b1b1b3;
    }

    .input-checkbox:focus + .text-label {
        outline: 1px dotted #f9f9fa;
    }

    /**
     * Buttons
     */

    .button {
        background-color: #3c3c3c;
        border-color: #292929;
        color: #dadada;
    }

    .button:hover {
        background-color: #434343;
    }

    .button:focus {
        background-color: #434343;
        border-color: #292929;
        box-shadow: 0 0 4px #323232;
    }

    .button:active {
        background-color: #393939;
    }

    .button-toggle {
        border-color: #363636;
        color: #636363;
    }

    .button-toggle.active {
        border-color: #292929;
        color: #3dbb87;
    }
    
    .label-link {
        color: #dadada;
    }

}
