
/**
 * Fonts
 */

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../assets/fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/**
 * Sections
 */

body {
    color: #555;
    cursor: default;
    font-family: 'Vazirmatn', 'Noto Sans', Arial, sans-serif !important;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: -15px;
    padding: 10px !important;
    direction: rtl;
    text-align: right;
}

.option {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}



/**
 * Titles
 */

.title-option {
    align-items: center;
    display: flex;
    font-weight: 600;
}

/**
 * Controls
 */

.input-checkbox {
    margin: 0 5px 0 0;
    outline: 0;
}

.input-text {
    margin-left: 29px;
    max-width: 320px;
}

.text-label {
    padding: 0 2px;
}

.input-checkbox:focus + .text-label {
    outline: 1px dotted #000;
}

/**
 * Icons
 */

.icon {
    margin-right: 3px;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #202023;
        color: #f9f9fa;
    }

    .description-option {
        color: #b1b1b3;
    }

    .input-checkbox:focus + .text-label {
        outline: 1px dotted #f9f9fa;
    }
}
